<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission and cleartext HTTP traffic are enabled ONLY for local development debugging -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true" />
</manifest>
